<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="text/html; charset=utf-8" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link rel="stylesheet" type="module" href="/styles.css">
    <title>Greenfield | GameOn | MERN</title>
  </head>
  <body>
    <div id="root" class="app-body"></div>
  </body>
</html>
