body {
  width: auto;
  background-image: url("https://images.unsplash.com/photo-1502014822147-1aedfb0676e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 255, 255);
}

.app-body {
  margin-top: 50px;
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: rgb(194, 210, 255);
}

.map-container {
  height: 400px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.icon {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
  .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
  }

  .google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    transform: scale(1.4);
    display:block;
    width:fit-content;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
  }

  .google-button:hover,
  .google-button:focus {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none;
    transform: scale(1.4) skewX(-0.4deg);
  }

  .google-button:active {
    outline: none;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.3);
    transition-duration: 10ms;
  }

  .google-button__icon {
    display: inline-block;
    margin: 0px 0 0px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }

  .google-button__icon--plus {
    width: 27px;
  }

  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;
  }

<<<<<<< HEAD
=======
  .card-text {
    color: black;
  }

  .card {
    background-color: #A5C9CA;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }
>>>>>>> c39175b8a4b5e1ab204a4a1a07064c579a48135d
  .event {
    margin: 10px;
    background-color: #737373;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}