body {
  width: auto;
  background-color: #395B64;
  color: white;
}

.app-body {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: #2C3333;
}

#text {
  color: white;
}

.map-container {
  height: 400px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Roboto';
  background-color: #a373ab;
}

.mapboxgl-popup-content {
  background-color: #CE93D8;
  font: 12px/20px 'Roboto';
  color: black;
}

.icon {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
  .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
  }

  .google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    transform: scale(1.4);
    display:block;
    width:fit-content;
    margin:auto;
  }

  .google-button:hover,
  .google-button:focus {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none;
    transform: scale(1.4) skewX(-0.4deg);
  }

  .google-button:active {
    outline: none;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.3);
    transition-duration: 10ms;
  }

  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0 0px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }

  .google-button__icon--plus {
    width: 27px;
  }

  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;
  }

  .card-text {
    color: black;
  }

  .card {
    background-color: #A5C9CA;
    margin: 20px;
    padding: 20px;
  }
  .event {
    margin: 10px;
    background-color: #737373;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}